/* Side navigation settings */
ul.side-nav {
  padding-top: 40px;
  width: 260px;
  transform: translateX(100%);
}
.site-description {
  display: block;
  font-size: 25px;
  padding: 0px 32px 34px 32px;
}
.side-nav li.active, nav ul a:hover {
  background-color: #8c9eff;
}
a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 1%;
  top: 46px;
  float: none;
  color: #fff;
}
a.button-collapse.top-nav i {
  font-size: 30px;
}
header, main, footer {
  padding-left: 0px;
}

/* Reduced site margin */
@media only screen and (min-width : 993px) {
  .container {
    width: 85%;
    max-width: none;
  }
}

/* Adjusted top announcement */
.fixed-announcement .announcement {
  background-color: #000;
}
.fixed-announcement .announcement .container {
  color: #fff;
  padding: 8px 0;
}

/* Adjusted top navigation */
nav.top-nav {
  height: 122px;
  line-height: 64px;
}
nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px;
}

/* Image helper */
img.centered {
  display: block;
  margin: 0 auto;
}

/* Table modifiers */
table.compact td, table.compact div, table.compact p {
  padding: 0px;
  margin:  5px;
}
table.compact .select-wrapper {
  margin: 0;
}
table.compact .prefix {
  padding-top: 0.5rem;
}
table.compact .suffix {
  margin-left: 3rem;
}

/* Progress bar adjustments */
.progress {
  background-color: #c7cfff;
  height: 20px;
}

/* Console settings */
.console pre {
  margin-top: 0px;
  height: 400px;
  overflow-y: scroll;
  background-color: #d3d3d3;
}
.console .tab a i.material-icons {
  color: #cc0000;
  padding-left: 10px;
}
#consoleErr {
  color: #cc0000;
}

/* List of images on the right */
.image-list {
  position: absolute;
  left : auto;
  right: 260px;
  top: 122px;
  bottom: 0;
  overflow-y: auto;
  height: auto;
  padding-top: 10px !important;
  text-align: center;
  z-index: 0;
}
.image-list .heading {
  font-size: 25px;
  padding: 0 32px;
}
.image-list label {
  height: 15px;
}
.image-list li {
  padding-top: 15px;
}
.image-list li>a {
  height: auto;
}
.image-list li>a.page-text {
  padding: 0;
  display: inline-block;
}
.image-list li>a.active {
  background-color: #8c9eff;
}
.image-list li.select-all {
  font-weight: bold;
  padding: 0;
}
i.material-icons.image-list-trigger {
  position: absolute;
  left: 35px;
  height: 48px;
  line-height: 48px;
  color: #888;
  cursor: pointer;
}
i.material-icons.image-list-trigger.active {
  color: #536dfe !important;
}
.includes-list {
  padding-right: 260px;
}

/* Tab style adjustments */
.tabs {
overflow-x: hidden;
}
.tab {
  list-style-position: inside;
  border: 1px solid #ddd;
}
.tabs .tab a {
  color: #000;
}
.tabs .tab a.active {
  color: #536dfe;
}
.tabs .tab a:hover {
  color: #536dfe;
}
.tabs .indicator {
  background-color: #536dfe;
}
